extends /layout
block content
  .container
    h1 Create Staff Member
    +alerts()
    form.form-horizontal(action='/staff/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='staffName', placeholder='Name')
      .form-group
        label.control-label.col-sm-2 Email
        .col-sm-10
          input.form-control(type='email', name='staffEmail', placeholder='Email Address')
      .form-group
        label.control-label.col-sm-2 Password
        .col-sm-10
          input.form-control(type='password', name='staffPassword')
      .form-group
        label.control-label.col-sm-2 Confirm
        .col-sm-10
          input.form-control(type='password', name='staffPasswordConfirm')
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='staffActive', checked=true)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
