{{>header}}
    <div class="container-fluid">
      <div>
        <div class="float-right">
          <span>&nbsp;</span>
          <a class="btn btn-success" href="/{{moduleUriName}}/create">
            <span class="fa fa-plus"></span> {{_l.create}} {{moduleItemName}}
          </a>
        </div>
        <h1>{{_l.blog.blog_list}}</h1>
      </div>
      <table id="table" class="table table-bordered" data-remove="id" data-remove-uri="/{{moduleUriName}}/remove">
        <thead>
        <tr>
          {{#moduleFields}}
            <th data-name="{{moduleField}}" data-uri="/{{moduleUriName}}/edit?id={{item.id}}" data-link="id">{{fieldTitle}}</th>
          {{/moduleFields}}
        </tr>
        </thead>
      </table>
      <script type="text/javascript">
        $(document).ready(() => {
          $('#table').DataTable(DataTableConfig());
        })
      </script>
    </div>
{{>footer}}
