
[submodule "app/blog"]
	path = app/blog
	url = https://github.com/nullivex/kado-blog
[submodule "app/user"]
	path = app/user
	url = https://github.com/nullivex/kado-user
[submodule "app/setting"]
	path = app/setting
	url = https://github.com/nullivex/kado-setting
