node_modules
.idea
/config.*.js
modules.json
settings.json
/dt
/dt.json
/log
npm-debug.log
app.js
app.js.bak
bundle.*
/sessions.s3db
*.s3db
**/public/dist/*.js
interface/**/asset/module*.js
interface/**/asset/local*.js
interface/**/public/dist/*.js.map
