extends /layout
block content
  .container
    h1 Create Entry
    form.form-horizontal(action='/blog/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Title
        .col-sm-10
          input.form-control(type='text', name='title', placeholder='Title')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save