extends /layout
block append js
  script(src='/js/table.js')
block content
  .container-fluid
    +tableHeader('Blog','/blog/create','Create Entry')
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Title
          th Created
          th Modified
          th Active
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/blog/edit?id=#{row.id}')= row.title
            td= new Date(row.createdAt).toDateString()
            td= new Date(row.updatedAt).toDateString()
            td
              if(row.active)
                span.glyphicon.glyphicon-check
              else
                span.glyphicon.glyphicon-remove
      +tableFooter(page,count)
