{{>header}}
    <div class="container-fluid">
      <div>
        {{#tableCreateUri}}
          <div class="pull-right">
            <span>&nbsp;</span>
            <a class="btn btn-success" href="{{{tableCreateUri}}}">
              <span class="glyphicon glyphicon-plus">&nbsp;</span>
              <span>{{tableCreateLabel}}</span>
            </a>
          </div>
        {{/tableCreateUri}}
        <h1>{{_l.blog.blog_list}}</h1>
      </div>
      <table id="table" class="table table-striped table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th data-name="title">{{_l.blog.title}}</th>
          <th data-name="createdAt">{{_l.blog.created}}</th>
          <th data-name="updatedAt">{{_l.blog.modified}}</th>
          <th data-name="active">{{_l.blog.active}}</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
        <tr>
          <td><a href="/blog/edit?id={{id}}">{{title}}</a></td>
          <td>{{#_toDateString}}{{createdAt}}{{/_toDateString}}</td>
          <td>{{#_toDateString}}{{updatedAt}}{{/_toDateString}}</td>
          <td>
            <span class="glyphicon glyphicon-{{#_isActive}}{{active}},check,remove{{/_isActive}}">&nbsp;</span>
          </td>
        </tr>
        {{/list}}
        </tbody>
      </table>
    </div>
{{>footer}}
