extends /layout
block content
  .container
    h1 Create User Permission
    form.form-horizontal(action='/user/permission/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Interface
        .col-sm-10
          select(name='interface')
            each iface, ifaceName in interfaces
              option(value=ifaceName)= iface.title
      .form-group
        label.control-label.col-sm-2 URI
        .col-sm-10
          input.form-control(type='text', name='uri', placeholder='URI')
      .form-group
        label.control-label.col-sm-2 Level
        .col-sm-10
          select(name='level')
            each level, levelValue in permissionLevels
              option(value=levelValue)= level.name
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
