extends /layout
block title
  title {{moduleTitle}} Entries
block content
  .container
    h1 {{moduleTitle}}
    .content.content-container
      each item in list
        .listEntry
          h3(style='margin-top: 5px;')
            a(href='/{{moduleName}}/' + item.id)= item.{{moduleTitleField}}
          p(style='margin-top:-8px')
            | Posted: #{moment(item.createdAt).format('MMM DD, YYYY')}
          .clear-both
