extends /layout
block content
  .container
    h1 Create User Role
    +alerts()
    form.form-horizontal(action='/user/role/save', method='post', role='form')
      input(type='hidden', name='active', value='true')
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Name')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
