extends /layout
block content
  .container
    h1 Update User Role
    +alerts()
    form.form-horizontal(action='/user/role/save', method='post', role='form')
      input(type='hidden', name='id', value=role.id)
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Name', value=role.name)
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='active', checked=role.active)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save