extends /layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('User Roles','/user/role/create','Create User Role')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Active
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/user/role/edit?id=#{row.id}')= row.name
            td
              +active(row.active)
      +tableFooter(page,count)