extends /layout
block content
  .container
    h1 Update User
    form.form-horizontal(action='/user/save', method='post', role='form')
      input(type='hidden', name='id', value=user.id)
      .form-group
        label.control-label.col-sm-2 Email
        .col-sm-10
          input.form-control(type='email', name='email', placeholder='Email Address', value=user.email)
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Name', value=user.name)
      .form-group
        label.control-label.col-sm-2 Password
        .col-sm-10
          input.form-control(type='password', name='password')
      .form-group
        label.control-label.col-sm-2 Confirm
        .col-sm-10
          input.form-control(type='password', name='passwordConfirm')
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='active', checked=user.active)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save