html, body{
  font-family: Helvetica Neue, Helvetica, Arial, serif;
}

.kado-toolbar {
  background: #eee;
  padding: 7px 20px 7px 15px;
}

.main-content {
  padding: 0 5px;
}

.main-content>div.container {
  width: 100%;
}

.kado-toolbar.navbar {
  margin-bottom: 5px;
}

h1 {
  margin-top: 5px;
}

.detail-box  {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 5px;
}

.col-sm-6.detail-box {
  width: 49%;
}

.dataTables_length {
  float: left;
  padding-right: 10px;
}

#breadcrumb {margin: 0 7px;}