html, body{
  font-family: Helvetica Neue, Helvetica, Arial, serif;
}

.kado-toolbar {
  background: #eee;
  padding: 7px 20px 7px 15px;
}

.main-content {
  padding: 0 5px;
}

.main-content>div.container {
  width: 100%;
}

.kado-toolbar.navbar {
  margin-bottom: 5px;
}

h1 {
  margin-top: 5px;
}

.detail-box  {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 5px;
}

.col-sm-6.detail-box {
  width: 49%;
}

.dataTables_length {
  float: left;
  padding-right: 10px;
}

#breadcrumb {margin: 0 7px;}

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

#search-header.mb20 {border-bottom: 1px solid #ccc;}
#search-header.mb20 h1 {font: 500 normal 1.625em Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15;}
#search-header.mb20 h2.lead {font: normal normal 1.125em Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px;}

.search-results {padding: 0 15px;}
.search-result {margin-top: 20px;}
.search-result h3 {font: 500 normal 1.375em Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 0px !important;}
.search-result h3 > a, .search-result i {color: #248dc1 !important;}
.search-result p {color: #545454; margin: 0; padding: 0; font: normal normal 0.95em Arial,Verdana,sans-serif;}
.search-result .url {margin: 0; color: #006621; font-size: 1em;}
.search-result .meta-search {color: #555; font-size: 0.75em; line-height: 25px;}
.search-result .meta-search span {margin-right: 10px;}
