.form-search {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}
.form-search .checkbox {
  font-weight: 400;
}
.form-search .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-search .form-control:focus {
  z-index: 2;
}
.form-search input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
