@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar-copyright {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: #fff;
    font-size: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 199px;
    max-width: 199px;
    background: #292929;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -199px;
}

#sidebar .sidebar-header {
    padding: 7px;
    background: #282828;
}

#sidebar ul.components {
    padding: 7px 0;
    border-bottom: 1px solid #999;
}

#sidebar ul p {
    color: #fff;
    padding: 7px;
}

#sidebar ul li a {
    padding: 7px;
    color: #fff;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #333;
    background: #fff;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #444;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
    background: #444;
}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a.download {
    background: #fff;
    color: #7386D5;
}

#sidebar a.article,
#sidebar a.article:hover {
    background: #555 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -199px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}