<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{{_baseUrl}}}/"><span class="fa fa-home"></span> {{_l.home}}</a></li>
  <li class="text-muted breadcrumb-item">{{_l.history}}</li>
  {{#_breadcrumb.crumbs}}
    <li class="breadcrumb-item">
      {{#icon}}
        <a href="{{{_baseUrl}}}{{{uri}}}"><span class="fa fa-{{icon}}"></span> {{name}}</a>
      {{/icon}}
      {{^icon}}
        <a href="{{{_baseUrl}}}{{{uri}}}">{{name}}</a>
      {{/icon}}
    </li>
  {{/_breadcrumb.crumbs}}
</ol>
