<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <script type="text/javascript" src="/bundle/bundle.min.js"></script>
  <script type="text/javascript" src="/node_modules/jszip/dist/jszip.min.js"></script>
  <script type="text/javascript" src="/node_modules/pdfmake/build/vfs_fonts.js"></script>
  <title>{{_appTitle}} {{_l.admin_panel}} - {{_l.kado}} {{_l.version}} {{_version}}</title>
</head>
<body>
{{#_staff}}
{{>sidebar}}
<div class="main">
  {{>navbar}}
  <div class="main-content">
    {{>alert}}
{{/_staff}}
