include /alerts
include /mixins
include /navbar
include /table
doctype html
html
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1')
    block css
      link(rel='stylesheet', type='text/css', href='/main.css')
    block js
      script(type='text/javascript', src='/bundle/bundle.min.js')
    block title
      title #{appTitle} Admin Panel - Kado Version #{version}
  body
    if staff
      +sidebar()
      .main
        +navbar()
        //main content
        .main-content
          +alerts()
          block content
    else
      //main content
      block content
