{{>header}}
<link type="text/css" rel="stylesheet" href="{{{_baseUrl}}}/css/login.css" />
<div class="container login-container">
  <h2>{{_l.login}}</h2>
  {{>alert}}
  <form class="form form-login" action="{{{_u._login}}}" method="post" role="form">
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <input class="form-control" type="text" name="email" placeholder="Email Address" />
    <input class="form-control" type="password" name="password" placeholder="Password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{_l.sign_in}}</button>
  </form>
</div>
{{>footer}}
