  <nav class="navbar navbar-expand-lg navbar-light bg-light kado-toolbar">
    <a class="navbar-brand mb-0 h1" href="/">{{_appTitle}}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcollapse1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{_l.toggle_nav}}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navcollapse1">
      <form class="form-inline mr-auto" role="search" method="get" action="{{{_u._search}}}">
        <input class="form-control mr-sm-2" type="search" name="searchPhrase" placeholder="Search" value="{{{_searchPhrase}}}" />
        <button class="btn btn-default my-2 my-sm-0" type="submit">
          <span class="fa fa-search">&nbsp;</span>
        </button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="staffDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user">&nbsp;</span>
            <span>{{_l.staff_title}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="staffDropdown">
            <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._staff_list}}}">
              <span class="fa fa-list"></span> {{_l.list_staff}}
            </a>
            <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._staff_create}}}">
              <span class="fa fa-plus"></span> {{_l.create_staff}}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{{_baseUrl}}}{{{_u._setting_list}}}">
            <span class="fa fa-wrench">&nbsp;</span>
            <span>{{_l.settings}}</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="langMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="flag-icon flag-icon-{{_l._pack_flag}}"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="langMenuButton">
              {{#_l._packs}}
                <a class="dropdown-item" href="?lang={{_pack_code}}">
                  <span class="flag-icon flag-icon-{{_pack_flag}}"></span>
                  {{_pack_name}}
                </a>
              {{/_l._packs}}
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="authDropdown" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user"></span> {{_staff.email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="authDropdown">
            <a class="dropdown-item" href="{{{_baseUrl}}}{{{_u._logout}}}">
              <span class="fa fa-sign-out-alt"></span> {{_l.logout}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
