  <nav class="navbar navbar-expand-lg navbar-light bg-light kado-toolbar">
    <a class="navbar-brand mb-0 h1" href="/">{{_appTitle}}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcollapse1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{_l.toggle_nav}}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navcollapse1">
      <form class="form-inline mr-auto" role="search" method="get" action="/search">
        <input class="form-control mr-sm-2" type="search" name="phrase" placeholder="Search" />
        <button class="btn btn-default my-2 my-sm-0" type="submit">
          <span class="fa fa-search">&nbsp;</span>
        </button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="staffDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user">&nbsp;</span>
            <span>{{_l.staff_title}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="staffDropdown">
            <a class="dropdown-item" href="/staff/list">
              <span class="fa fa-list"></span> {{_l.list_staff}}
            </a>
            <a class="dropdown-item" href="/staff/create">
              <span class="fa fa-plus"></span> {{_l.create_staff}}
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setting/list">
            <span class="fa fa-wrench">&nbsp;</span>
            <span>{{_l.settings}}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="authDropdown" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user"></span> {{_staff.email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="authDropdown">
            <a class="dropdown-item" href="/logout">
              <span class="fa fa-sign-out-alt"></span> {{_l.logout}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
