<nav id="sidebar">
  <div id="sidebar-copyright">
    &copy; {{_currentYear}} <a href="https://www.kado.org" style="color: white;">{{_l.kado}}.</a> {{_l.version}} {{_version}}
  </div>
  <div class="sidebar-header">
    <h3>{{_l.navigation}}</h3>
  </div>
  <ul class="list-unstyled components">
    {{#_nav.group}}
      {{#nav.length}}
      <li class="{{#checkActive}}{{{uri}}},{{{currentUri}}}{{/checkActive}}">
        <a class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" href="#nav{{name}}dropdown">
          {{#icon}}
            <span class="fa fa-{{icon}}">&nbsp;</span>
            <span>{{name}}</span>
          {{/icon}}
          {{^icon}}
            <span>{{name}}</span>
          {{/icon}}
        </a>
        <ul class="collapse list-unstyled" id="nav{{name}}dropdown">
          {{#nav}}
          <li class="{{#checkActive}}{{{uri}}},{{{currentUri}}}{{/checkActive}}">
            <a href="{{{uri}}}">
              {{#icon}}
                <span class="fa fa-{{icon}}">&nbsp;</span>
              {{/icon}}
              <span>{{name}}</span>
            </a>
          </li>
          {{/nav}}
        </ul>
      </li>
      {{/nav.length}}
      {{^nav.length}}
      <li class="{{#checkActive}}{{{uri}}},{{{currentUri}}}{{/checkActive}}">
        <a href="{{{uri}}}">
          {{#icon}}
            <span class="fa fa-{{icon}}">&nbsp;</span>
            <span>{{name}}</span>
          {{/icon}}
          {{^icon}}
            <span>{{name}}</span>
          {{/icon}}
        </a>
      </li>
      {{/nav.length}}
    {{/_nav.group}}
  </ul>
</nav>
