.kado-toolbar {
  background: #eee;
  padding: 0 20px 0 5px;
}

.kado-toolbar .navbar-toggle {
  background: #222;
  border-color: #000;
}

.kado-toolbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.kado-toolbar .navbar-toggle:hover {
  background: #fff;
}

.kado-toolbar .navbar-toggle:hover .icon-bar{
  background: #000;
}

.main-content {
  padding: 0 20px;
}
