</div><!--Close container-->
<footer class="blog-footer">
  <p>&copy; {{_currentYear}} <a href="https://kado.org/">{{_l.kado}}</a>
    <strong>v{{_version}}</strong> by
    <a href="https://www.nullivex.com">Nullivex</a> under
    <a href="https://opensource.org/licenses/lgpl-3.0.html">Lesser</a>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> |
    Template based on <a href="https://getbootstrap.com">Bootstrap CSS</a> |
    Written with purpose using <a href="https://nodejs.org">Node.js</a>,
    <a href="https://www.w3schools.com/js/js_es6.asp">ES6</a>,
    <a href="https://www.w3schools.com/Html/html5_intro.asp">HTML5</a>,
    <a href="https://www.w3schools.com/Css/">CSS3</a>
  </p>
  <p><a href="#">Back to top</a></p>
</footer>
{{#_dev}}
  <%&_pageProfile.HTML%>
{{/_dev}}
{{#_script}}
{{#defer}}
<script src="{{{uri}}}" type="text/javascript" defer="defer"></script>
{{/defer}}
{{^defer}}
<script src="{{{uri}}}" type="text/javascript"></script>
{{/defer}}
{{/_script}}
</body>
</html>
