<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{{_baseUrl}}}/main.css" />
  <link rel="icon" href="{{{_baseUrl}}}/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="{{{_baseUrl}}}/blog.css" rel="stylesheet">
  <script src="{{{_baseUrl}}}/bundle/bundle.min.js"></script>
  <script src="{{{_baseUrl}}}/node_modules/jszip/dist/jszip.min.js"></script>
  <script src="{{{_baseUrl}}}/node_modules/pdfmake/build/vfs_fonts.js"></script>
  {{#_pageTitle}}
    <title>{{_pageTitle}} - {{_appTitle}} - {{_l.kado}} v{{_version}}</title>
  {{/_pageTitle}}
  {{^_pageTitle}}
    <title>{{_appTitle}} - {{_l.kado}} v{{_version}}</title>
  {{/_pageTitle}}
</head>
<body>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="{{{_baseUrl}}}/search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">{{_appTitle}}</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <nav class="navbar d-flex justify-content-between navbar-expand-sm py-1 mb-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {{#_nav.group}}
                {{#nav.length}}
                  <li class="nav-item dropdown {{#checkActive}}{{{uri}}},{{{_currentUri}}}{{/checkActive}}">
                    <a class="nav-link dropdown-toggle" href="#navdropdown{{shortName}}" id="navbarDropdownMenuLink{{shortName}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span>{{name}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{shortName}}">
                      {{#nav}}
                        <a class="p-2 text-muted dropdown-item {{#checkActive}}{{{uri}}},{{{_currentUri}}}{{/checkActive}}" href="{{{_baseUrl}}}{{{uri}}}">
                          <span>{{name}}</span>
                        </a>
                      {{/nav}}
                    </div>
                  </li>
                {{/nav.length}}
                {{^nav.length}}
                  <li class="nav-item">
                    <a href="{{{_baseUrl}}}{{{uri}}}" class="p-2 text-muted nav-link">
                      <span>{{#_l._get}}{{name}}{{/_l._get}}</span>
                    </a>
                  </li>
                {{/nav.length}}
              {{/_nav.group}}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  {{>navbar}}
  {{>alert}}
