{{>header}}
{{{_c.home_featured}}}
<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      {{{_c.home_post1}}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      {{{_c.home_post2}}}
    </div>
  </div>
</div>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        {{_l.from_the_press}}
      </h3>
      {{#blogList}}
      <div class="blog-post">
        <h2 class="blog-post-title">{{title}}</h2>
        <p class="blog-post-meta">{{#_printDate}}{{datePosted}}{{/_printDate}}</p>
        {{{html}}}
      </div><!-- /.blog-post -->
      {{/blogList}}
      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="{{_u._blog}}">{{_l.older}}</a>
        <a class="btn btn-outline-secondary disabled" href="#">{{_l.newer}}</a>
      </nav>
    </div><!-- /.blog-main -->
    {{>sidebar}}
  </div><!-- /.row -->
</main><!-- /.container -->
{{>footer}}