  <div class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="/">{{_appTitle}}</a>
      <ul class="nav navbar-nav">
        <li>
          <a href="/blog">
            <span class="fag fa-newspaper">&nbsp;</span>
            <span>Blog</span>
          </a>
        </li>
      </ul>
      <div class="pull-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://bugs.nullivex.com">
              <span class="fa fa-bug">Bug Tracker</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
